body {
     color: rgb(200, 146, 231);
     background: rgba(193, 131, 218, 0.233);
     margin: 0px;
     font-family: "Great Vibes" , sans-serif;
}

header {
     border-bottom: solid 2px rgb(192, 115, 207);
     padding: 20px;
     font: size 32px;
     color: rgb(187, 150, 235);
}

section {
     background: rgb(241, 212, 234);
     padding-bottom: 80px;
     padding-top: 80px;
     display: flex;
     justify-content: center;

}

.chamada-texto {
     margin-right: 5%;
}